langgraph
langchain
langchain-groq
langchain-community
fastapi
uvicorn[standard]
tavily-python
chainlit
pydantic
python-dotenv
chromadb
semanticscholar
passlib[bcrypt]
pyjwt
pymongo>4.0
certifi
langgraph-checkpoint-mongodb
